@font-face {
    font-family: DMSans;
    src: url("./assets/fonts/DMSans-VariableFont_opsz,wght.ttf");
}

@font-face {
    font-family: DMSansItalic;
    src: url("./assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf");
}

:root {
    box-sizing: border-box;
    font-size: 16px;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    position: static;
    width: 100%;
    padding: 1em;
    background-color: #F6F5F6;
    @media only screen and (min-width: 1024px) {
        position:absolute;
        width: calc(1024px + 5em);
        left: 50%;
        border: solid 2px black;
        transform: translate(-50%,0);
    }
}

main {
    display: grid;
    grid-template-columns: minmax(320px, auto);
    grid-template-rows: auto;
    gap: 1em;
    font-family: DMSans;
    @media only screen and (min-width: 496px) {
        grid-template-columns: 1fr 1fr;
    }
    @media only screen and (min-width: 1024px) {
        grid-template-columns: 256px 256px 256px 256px;
        grid-template-rows: 320px 128px 128px 256px;
    }
}

.social-media {
    grid-row: span 1;
    grid-column: span 1;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    background-color: #7551DC;
    @media only screen and (min-width: 496px) {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    @media only screen and (min-width: 1024px) {
        grid-column: 2/4;
        grid-row: 1/2;
    }
}

.social-media-header {
    font-size: 2.0rem;
    color: white;
    text-align: center;
    padding: 0 2em;
    @media only screen and (min-width: 496px) {
        padding: 1em;
        margin: 0 3em;
        font-size: 3rem;
    }
    @media only screen and (min-width: 1024px) {
        padding: 0.5em;
        margin: 0 0.5em;
    }
}

.social-media-header>strong {
    color: #FFCC6A;
}

.social-media > p {
    font-size: 1rem;
    color: white;
    text-align: center;
    margin-bottom: 1.5rem;
    @media only screen and (min-width: 496px) {
        margin-bottom: 5em;
    }
}

.social-media>img {
    width: 70%;
    @media only screen and (min-width: 496px) {
        width: 50%;
    }
}

.content-multiple {
    grid-row: span 1;
    grid-column: span 1;
    padding: 1em;
    background-color: white;
    @media only screen and (min-width: 496px) {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    @media only screen and (min-width: 1024px) {
        grid-row: 2/4;
        grid-column: 2/3;
    }
}

.content-multiple>p {
    color: black;
    font-size: 1.5rem;
    text-align: left;
    letter-spacing: 0.1rem;
    line-height: 1.0em;
    @media only screen and (min-width: 496px) {
        font-size: 1.8em;
        margin-top: 1em;
    }
}

.content-multiple>img {
    width: 70%;
    margin-bottom: 0.5em;
    overflow: hidden;
    @media only screen and (min-width: 496px) {
        width: 100%;
    }
}

.content-consistent {
    grid-row: span 1;
    grid-column: span 1;
    max-height: 200px;
    background-color: #FFCC6A;
    padding: 1em 1em 0em 1em;
    overflow: hidden;
    @media only screen and (min-width: 496px) {
        grid-row: 2/3;
        grid-column: 2/3;
        max-height: 400px;
    }
    @media only screen and (min-width: 1024px) {
        max-height: inherit;
        grid-row: 2/4;
        grid-column: 3/4;
    }
}

.content-consistent>img {
    width: 70%;
    display:block;
    /* margin-bottom: 1em; */
    @media only screen and (min-width: 496px) {
        width: 60%;
    }
    @media only screen and (min-width: 1024px) {
        width: 100%;
    }
}

.content-consistent>p {
    color: black;
    font-size: 1.625rem;
    font-weight: bold;
    text-align: left;
    line-height: 1.0em;
    margin-bottom: 1em;
    @media only screen and (min-width: 1024px) {
        font-size: 2rem;
    }
}

.content-schedule {
    grid-row: span 1;
    grid-column: span 1;
    background-color: #DBD1FC;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    @media only screen and (min-width: 496px) {
        grid-column: span 2;
    }
    @media only screen and (min-width: 1024px) {
        grid-column: 4/5;
        grid-row: 1/4;
        align-items:start;
        text-align: left;
    }
}

.schedule-title {
    color: black;
    font-size: 1.625rem;
    line-height: 1.0em;
    @media only screen and (min-width: 1024px) {
        font-size: 2.0rem;
    }
}

.content-schedule>img {
    width: 100%;
    margin: 1.5em 0;
    @media only screen and (min-width: 496px) {
        width: 70%;
    }
    @media only screen and (min-width: 1024px) {
        width: 185%;
    }
}

.schedule-caption {
    font-size: 1.125rem;
    line-height: 1.0rem;
    @media only screen and (min-width: 496px) {
        width: 60%;
    }
    @media only screen and (min-width: 496px) {
        width: 100%;
    }
}

.grow-followers {
    grid-row: span 1;
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    background-color: #7551DC;

    @media only screen and (min-width: 496px) {
        grid-column: span 2;
        flex-direction: row;
    }
    @media only screen and (min-width: 1024px) {
        grid-column: 3/5;
        grid-row: 4/5;
    }
}

.grow-followers>img {
    width: 80%;
}

.grow-followers>p {
    font-size: 2rem;
    line-height: 1.0em;
    text-align: center;
    color: white;
    @media only screen and (min-width: 1024px) {
        max-width: 50%;
        text-align: left;
    }
}

.faster-growth {
    grid-row: span 1;
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1em;
    background-color: white;
    @media only screen and (min-width: 496px) {
        grid-column: span 2;
        flex-direction: row;
    }
    @media only screen and (min-width: 1024px) {
        grid-column: 2/3;
        grid-row: 4/5;
        flex-direction: column;
    }
}

.audience-growth {
    font-size: 1.125rem;
    line-height: 1.0em;
    margin: 1em;
}

.above-56 {
    font-size: 3.375rem;
    line-height: 3rem;
    letter-spacing: -0.125rem;
}
.faster-growth img {
    @media only screen and (min-width: 496px) {
        margin-left: auto;
    }
    @media only screen and (min-width: 1024px) {
        margin-left: inherit;
    }
}

.create-quicker {
    grid-row: span 1;
    grid-column: span 1;
    background-color: #F9EEE2;
    padding: 2em;
    @media only screen and (min-width: 1024px) {
        grid-column: 1/2;
        grid-row: 1/3;
    }
}

.create-quicker>p {
    font-size: 2rem;
    line-height: 1.0em;
    letter-spacing: -0.1rem;
    margin-bottom: 1.5em;
    @media only screen and (min-width: 496px) {
        margin-top: 1.5em;
    }
}

.create-quicker>img {
    width: 50%;
    @media only screen and (min-width: 1024px) {
        width: 100%;
    }
}

.create-quicker>p>strong {
    color: #7551DC;
    font-family: DMSansItalic;
}

.write-with-AI {
    grid-row: span 1;
    grid-column: span 1;
    padding: 1.5em;
    background-color: #FFCC6A;
    @media only screen and (min-width: 1024px) {
        grid-column: 1/2;
        grid-row: 3/5;
    }
}

.write-with-AI>p {
    font-size: 2rem;
    line-height: 1.0em;
    margin-bottom: 1.5em;
    @media only screen and (min-width: 1024px) {
        width: 90%;
    }
}

.write-with-AI>img {
    width: 60%;
    @media only screen and (min-width: 1024px) {
        width: 100%;
    }
}